.section_1{
    width: 100%;
    padding:19vw 5vw;
    padding-bottom: 37vw;
    text-align: center;
    background-color: #1A1A1A;
    background-image: url(../../public/images/bg_about.png);
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
}
.section_1 span{ 
    font-size: 1.84vw;
    letter-spacing: .06vw;
    color: white;
}
.section_1 h1{
    font-size: 4.96vw;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 0px 0px 10px 0px #ffffffbb;
    letter-spacing: .05vw;
    margin-top: .4vw;
    color: white;
}
.about_content{
    width: 48%;
    display: block;
    margin: auto;
    margin-top: 1.6vw;
}
.about_content p{
    font-size: .95vw;
    letter-spacing: .05vw;
    color: white;
    margin-bottom: 1.3vw;
}