.banner_blog{
    width: 100%;
    position: relative;
    height: 34vw;
}
.blog_content{
    width: 100%;
    padding: 3vw 8.7vw;
    background-color: #1A1A1A;
}
.blog_heading{
    margin-bottom: 2.3vw;
}
.blog_heading h1{
    font-size: 3.8vw;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 0px 0px 10px 0px #ffffffbb;
    letter-spacing: .05vw;
    color: white;
}
.blog_heading span{
    font-size: .95vw;
    letter-spacing: .05vw;
    color: white;
}
.blog_desc p{
    font-size: .95vw;
    letter-spacing: .05vw;
    margin-bottom: 1.3vw;
    line-height: 1.4;
    color: white;
}
.blog_desc ul, .blog_desc ol{
    margin-bottom: 1.2vw;
    margin-left: 1.3vw;
}
.blog_desc ul li, .blog_desc ol li{
    margin-bottom: .5vw;
    font-size: .95vw;
    letter-spacing: .05vw;
    line-height: 1.4;
    color: white;
}
.blog_desc strong{
    color: white;
}
.blog_desc a{
    color: white;
}
.blog_desc h2{
    font-size: 1.1vw;
    color: white;
}
.blog_desc h3{
    font-size: 1.06vw;
    color: white;
}
.blog_desc h4{
    font-size: 1vw;
    color: white;
}
.blog_desc h5{
    font-size: .97vw;
    color: white;
}
.other_post{
    padding: 3vw 8.7vw;
    width: 100%;
    background-color: #1A1A1A;
    text-align: center;
}
.other_post_heading{
    margin-bottom: 2.8vw;
}
.other_post_heading h1{
    font-size: 3.8vw;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 0px 0px 10px 0px #ffffffbb;
    letter-spacing: .05vw;
    color: white;
}
.list_blog_layout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.7vw;
}
.list_box_blog{
    margin-bottom: 1.4vw;
}
.list_img_blog{
    width: 100%;
    height: 25vw;
    position: relative;
    margin-bottom: 1.7vw;
}
.list_content_blog{
    text-align: start;
    padding: 0 0;
}
.list_content_blog h3{
    font-size: 1.84vw;
    letter-spacing: .06vw;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 0px 0px 10px 0px #ffffffbb;
    margin-bottom: .7vw;
    color: white;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list_content_blog span{
    font-size: .95vw;
    color: white;
    letter-spacing: .05vw;
    font-style: italic;
    margin-bottom: .86vw;
    display: block;
}
.list_content_blog p{
    text-align: start;
    text-transform: capitalize;
    font-size: .98vw;
    line-height: 1.6;
    letter-spacing: .05vw;
    font-weight: 300;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}
.list_btn_blog button{
    width: max-content;
    font-size: 1vw;
    padding: .83vw 2.8vw;
    border: .1vw solid white;
    border-radius: 100vw;
    text-transform: uppercase;
    background: #FFFFFF1A;
    font-weight: 400;
    font-family: 'montserrat';
    letter-spacing: .05vw !important;
    backdrop-filter: blur(15.399999618530273px);
    box-shadow: 0px 0px 17.8px 0px #FFFFFF40;
    cursor: pointer;
    transition: .3s all;
    margin-top: 2vw;
    color: white;
}
.list_btn_blog button:hover{
    background-color: #fff;
    color: #1A1A1A;
}

@media (max-width:768px) {
    .banner_blog{
        height: 70vw;
    }
    .blog_content{
        padding: 6vw 5vw;
    }
    .blog_heading{
        margin-bottom: 4.5vw;
    }
    .blog_heading h1{
        font-size: 5vw;
        letter-spacing: .07vw;
        margin-bottom: 2vw;
    }
    .blog_heading span{
        font-size: 3.4vw;
        letter-spacing: .1vw;
    }
    .blog_desc p{
        font-size: 3.4vw;
        letter-spacing: .1vw;
        margin-bottom: 1.3vw;
        line-height: 1.5;
        color: white;
    }
    .blog_desc ul, .blog_desc ol{
        margin-bottom: 3vw;
        margin-left: 3.4vw;
    }
    .blog_desc ul li, .blog_desc ol li{
        margin-bottom: 1.3vw;
        font-size: 3.4vw;
        letter-spacing: .05vw;
        line-height: 1.4;
        color: white;
    }
    .blog_desc strong{
        color: white;
    }
    .blog_desc a{
        color: white;
    }
    .blog_desc h2{
        font-size: 4.3vw;
        color: white;
    }
    .blog_desc h3{
        font-size: 4vw;
        color: white;
    }
    .blog_desc h4{
        font-size: 3.7vw;
        color: white;
    }
    .blog_desc h5{
        font-size: 3.6vw;
        color: white;
    }

    .other_post{
        padding: 6vw 5vw;
    }
    .other_post_heading{
        margin-bottom: 5vw;
    }
    .other_post_heading h1{
        font-size: 5.5vw;
        letter-spacing: .08vw;
    }
    .list_blog_layout{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 6vw;
    }
    .list_box_blog{
        margin-bottom: 2.8vw;
    }
    .list_img_blog{
        height: 50vw;
        margin-bottom: 5vw;
    }
    .list_content_blog{
        padding: 0 1.6vw;
    }
    .list_content_blog h3{
        font-size: 4vw;
        letter-spacing: .09vw;
        margin-bottom: 2vw;
    }
    .list_content_blog span{
        font-size: 3.4vw;
        margin-bottom: 1.6vw;
        letter-spacing: .2vw;
    }
    .list_content_blog p{
        font-size: 3.4vw;
        line-height: 1.4;
        text-align: start;
        letter-spacing: .2vw;
    }
    .list_btn_blog button{
        font-size: 3vw;
        padding: 1.83vw 3.8vw;
        letter-spacing: .08vw !important;
        margin-top: 6vw;
    }
}