.footer_container{
    width: 100%;
    padding: .5vw 1.3vw;
    padding-right: 2.3vw;
    background-image: url(../../../public/images/bg_footer.png);
    background-size: cover;
    background-position: center;
    border-top: .1vw solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_logo img{ 
    width: 16.9vw;
}
/* .menu ul{
    display: flex;
    gap: 3vw;
}
.menu ul li {
    list-style: none;
}
.menu ul li a{
    font-size: .95vw;
    letter-spacing: .06vw;
    text-transform: uppercase;
    color: white;
} */
.copyright span{
    font-size: 1.06vw;
    font-weight: 300;
    letter-spacing: .06vw;
    color: white;
}

@media (max-width:768px) {
    .footer_container{
        padding: 7vw 4vw;
        flex-direction: column;
        gap: 4vw;
    }
    .footer_logo{ 
        width: 45vw;
        height: 14.8vw;
    }
    .menu ul{
        gap: 7vw;
    }
    .menu ul li a{
        font-size: 3vw;
        letter-spacing: .1vw;
    }
    .copyright span{
        font-size: 3vw;
        letter-spacing: .1vw;
    }
}