.banner{
    width: 100%;
    height: 54vw;
    background-image: url(../../../public/images/bg_banner.png);
    background-position: bottom center;
    background-size: cover;
    position: relative;
    transition: .3s all;
}
.line{
    z-index:1;
    display: block;
}
.line_dekstop{
    display: none;
}
.btn_tab{
    display: flex;
    flex-direction: column;
    gap: .4vw;
    position: absolute;
    z-index: 70;
}
.btn_tab_left{
    position: absolute;
    left: 5.4vw;
    top: 24.6vw;
    align-items: flex-end;
    flex-direction: row-reverse;
    gap: 1vw;
}
.btn_tab_right{
    position: absolute;
    right: 10vw;
    top: 24.6vw;
    align-items: flex-end;
    flex-direction: row;
    gap: 1vw;
}
.btn_tab_bottom{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6.6vw;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
}
.btn_tab_center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6.6vw;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
}
.btn_tab span{
    text-transform: uppercase;
    font-size: 1vw;
    color: white;
    font-weight: 300;
    letter-spacing: .05vw;
    display: block;
}
.circle{
    width: 1.7vw;
    height: 1.7vw;
    border-radius: 100vw;
    background-color: white;
    box-shadow: 0px 0px 17.8px 0px #ffffff5b;
    transition: .3s all;
    position: relative;
}
.circle.active {
    background-color: #fff; /* Warna jika dihover */
    color: #1A1A1A;
    transform: scale(7.1);
    position: relative;
    text-align: center;
}
.circle img{
    width: 90%;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
}
.btn_tab_left span{
    margin-bottom: -.95vw;
}
.btn_tab_right span{
    margin-bottom: -.95vw;
}
.circle.active span{
    color: #1A1A1A;
    font-size: .25vw;
    position: absolute;
    left: 51%;
    margin: 0;
    padding: 0;
    top: 50%;
    letter-spacing: 0;
    transform: translate(-50%, -50%);
  }

.heading_banner{
    z-index: 60;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 46%;
    text-align: center;
}
.heading_banner span{
    text-transform: uppercase;
    font-size: 1.84vw;
    letter-spacing: .06vw;
    color: white;
}
.heading_banner h1{
    font-size: 4.96vw;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 0px 0px 10px 0px #ffffffbb;
    letter-spacing: .05vw;
    color: white;
    margin-top: .4vw;
}
.galeri_banner_dynamic{
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 22vw;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6vw;
    z-index: 60;
}
.galeri_banner_dynamic_box{
    width: 17.4vw;
    height: 17.4vw;
    position: relative;
    border-radius: 100vw;
    overflow: hidden;
    opacity: 0;
    transition: .3s all;
}
.heading_banner_dynamic{
    z-index: 60;
    position: absolute;
    left: 50%;
    top: 43.7%;
    width: 47%;
    text-align: center;
    opacity: 0;
}
.heading_banner_dynamic h1{
    font-size: 4.96vw;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 0px 0px 10px 0px #ffffffbb;
    letter-spacing: .05vw;
    margin-bottom: .7vw;
    color: white;
}
.heading_banner_dynamic p{
    letter-spacing: .05vw;
    font-size: 1vw;
    width: 70%;
    line-height: 1.4;
    margin: auto;
    margin-bottom: 1.2vw;
    color: white;
}
.heading_banner {
    opacity: 1;
    transition: .3s all;
  }
  
  .heading_banner.active {
    opacity: 0;
    transform: translate(-50%, -150%) !important;
  }
  
  .detail_branch_banner {
    opacity: 0;
  }
  
  .detail_branch_banner.active {
    opacity: 1;
  }
  .heading_banner_dynamic{
    transform: translate(-50%, 10%);
    transition: .3s all;
  }
  .detail_branch_banner.active .heading_banner_dynamic{
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .detail_branch_banner.active .galeri_banner_dynamic_box{
    opacity: 1;
  }


.banner_bottom_content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2vw 2.2vw;
}
.banner_social_media{
    display: flex;
    align-items: center;
    gap: .8vw;
}
.banner_social_media_box{
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}
.banner_social_media_box svg{
    color: white;
    font-size: 2vw;
}
.banner_branch{
    display: flex;
    align-items: center;
    gap: 1.7vw;
}
.banner_branch button{
    font-size: 1vw;
    padding: .75vw 1.7vw;
    border: .1vw solid white;
    border-radius: 100vw;
    text-transform: uppercase;
    background: #FFFFFF1A;
    font-weight: 300;
    font-family: 'montserrat';
    letter-spacing: .05vw !important;
    backdrop-filter: blur(15.399999618530273px);
    box-shadow: 0px 0px 17.8px 0px #FFFFFF40;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .4vw;
}
.dropdown button svg{
    font-size: 1.4vw;
    transition: .3s all;
    color: white;
}
.dropdown_active button svg{
    transform: rotate(-180deg);
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown button {
    font-size: 1vw;
    padding: .75vw 1.7vw;
    border: .1vw solid white;
    border-radius: 100vw;
    text-transform: uppercase;
    background: #FFFFFF1A;
    font-weight: 300;
    font-family: 'montserrat';
    letter-spacing: .05vw !important;
    backdrop-filter: blur(15.399999618530273px);
    box-shadow: 0px 0px 17.8px 0px #FFFFFF40;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .4vw;
    color: white;
  }
  
  .dropdown_menu {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 100%;
    margin-bottom: .9vw;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .dropdown_menu_bottom{
    bottom: inherit;
    top: 100%;
    margin-top: .9vw;
    margin-bottom: inherit;
    color: white;
  }
  .dropdown_menu_show {
    opacity: 1;
    visibility: visible;
  }
  
  .dropdown_menu button {
    width: 100%;
    font-size: 1vw;
    padding: .75vw 5vw;
    border: .1vw solid white;
    border-radius: 100vw;
    text-transform: uppercase;
    backdrop-filter: blur(15.399999618530273px);
    box-shadow: 0px 0px 17.8px 0px #FFFFFF40;
    background: #FFFFFF1A;
    font-weight: 300;
    font-family: 'montserrat';
    letter-spacing: .05vw !important;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .4vw;
    justify-content: center;
    margin-bottom: 0;
    margin-top: .8vw;
  }
  .dropdown_menu_bottom button{
    margin-bottom: .8vw;
  }
  
.branch_list{
    display: flex;
    opacity: 0;
    gap: 1.6vw;
    transition: .3s all;
    z-index: -10;
}
.branch_list a{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .05vw !important;
    color: white;
    font-size: 1vw;
    transition: .3s all;
    cursor: pointer;
    text-decoration: none;
}
.branch_list a:hover{
    text-decoration: underline;
    font-weight: 500;
    text-shadow: 0px 0px 22.5px 0px #FFFFFF80;
}
.branch_list_active{
    opacity: 1;
    z-index: 100;
}
.tab_name.hidden {
    opacity: 0; /* Sembunyikan tulisan */
    visibility: hidden;
  }

.image_hover{
    display: flex;
    justify-content: space-between;
    width: 88%;
    top:-230%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0;
    transition: .3s all;
    position: absolute;
}
.image_hover_active{
    opacity: 1;
    z-index: 100;
}
.image_hover_box{
    width: 34vw;
    height: 34vw;
    position: relative;
    box-shadow: 0px 0px 34.8px 0px #FFFFFF33;
    border-radius: 100vw;
    overflow: hidden;
}

.section_2{
    width: 100%;
    background-image: url(../../../public/images/bg_home_2.png);
    background-position: center;
    background-size: cover;
    padding: 15.4vw 4.3vw;
}
.section_2_content{
    padding-right: 50.3vw;
}
.section_2_content h1{
    font-size: 4.1vw;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 0px 0px 10px 0px #ffffffbb;
    letter-spacing: .05vw;
    margin-bottom: .5vw;
    color: white;
}
.section_2_content p{
    font-size: .95vw;
    letter-spacing: .05vw;
    padding-right: 1vw;
    color: white;
}

.branch_section{
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 2.5vw 4.3vw;
    padding-right: 2.2vw;
    height: 52vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-blend-mode: multiply  !important;
    background-position: center !important;
    background-size: cover !important;
}
.branch_section_2{
    padding-right: 4.3vw;
    padding-left: 2.2vw;
}
.branch_section_page{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2.8vw 4.3vw;
    padding-right: 2.2vw;
    background-color: #1A1A1A;
}
.branch_heading{
    backdrop-filter: blur(24px);
    background: #FFFFFF24;
    font-family: 'montserrat';
    border: none;
    outline: none;
    font-size: 1.1vw;
    padding: 1.1vw 2.1vw;
    text-transform: uppercase;
    letter-spacing: .05vw;
    font-weight: 600;
    border-radius: 100vw;
    margin-bottom: 1.1vw;
    color: white;
}
.branch_detail_layout{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2.3vw;
}
.branch_detail_layout_2{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0;
}
.branch_detail_layout p{
    font-size: .95vw;
    letter-spacing: .05vw;
    line-height: 1.5;
    color: white;
}
.branch_detail_layout_2 p{
    font-size: .95vw;
    letter-spacing: .05vw;
    line-height: 1.5;
    color: white;
}
.branch_layout_right{
    text-align: end;
}
.branch_detail_layout_2 .branch_time{
    margin-right: 3vw;
}
.branch_time span{
    font-size: .95vw;
    letter-spacing: .05vw;
    margin-bottom: .1vw;
    display: block;
    color: white;
    text-transform: uppercase;
}
.branch_phone p{
    font-size: .95vw;
    letter-spacing: .05vw;
    margin-top: 1.5vw;
    color: white;
}
.branch_button{
    display: flex;
    gap: .6vw;
}
.branch_button button{
    font-size: 1vw;
    padding: .83vw 1.7vw;
    border: .1vw solid white;
    border-radius: 100vw;
    text-transform: uppercase;
    background: #FFFFFF1A;
    font-weight: 400;
    font-family: 'montserrat';
    letter-spacing: .05vw !important;
    backdrop-filter: blur(15.399999618530273px);
    box-shadow: 0px 0px 17.8px 0px #FFFFFF40;
    cursor: pointer;
    transition: .3s all;
    color: white;
}
.branch_button a:nth-child(2) button{
    color: black;
    background-color: white;
}
.branch_button button:hover{
    background-color: #fff;
    color: #1A1A1A;
}

.section_contact{
    width: 100%;
}
.button_layout{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
    padding: 5.3vw 0;
}
.button_layout button{
    font-size: 1vw;
    padding: .83vw 1.7vw;
    border: .1vw solid white;
    border-radius: 100vw;
    text-transform: uppercase;
    background: #FFFFFF1A;
    font-weight: 400;
    font-family: 'montserrat';
    letter-spacing: .05vw !important;
    backdrop-filter: blur(15.399999618530273px);
    box-shadow: 0px 0px 17.8px 0px #FFFFFF40;
    cursor: pointer;
    transition: .3s all;
    color: white;
}
.button_layout button:hover{
    background-color: #fff;
    color: #1A1A1A;
}
.contact_container{
    width: 100%;
    background: linear-gradient(180deg, #1A1A1A 0%, #000000 100%);
    padding: 9.7vw 4.2vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.heading_contact{
    font-size: 4.1vw;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 0px 0px 10px 0px #ffffffbb;
    letter-spacing: .05vw;
    margin-bottom: .5vw;
    color: white;
}
.contact_layout p{
    font-size: .95vw;
    letter-spacing: .05vw;
    padding-right: 12vw;
    margin-bottom: 1.3vw;
    color: white;
}
.contact_button{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding-left: 2vw;
}
.contact_button button{
    width: 100%;
    font-size: 1vw;
    padding: .83vw 1.7vw;
    border: .1vw solid white;
    border-radius: 100vw;
    text-transform: uppercase;
    background: #FFFFFF1A;
    font-weight: 400;
    font-family: 'montserrat';
    letter-spacing: .05vw !important;
    backdrop-filter: blur(15.399999618530273px);
    box-shadow: 0px 0px 17.8px 0px #FFFFFF40;
    cursor: pointer;
    transition: .3s all;
    color: white;
}
.contact_button button:hover{
    background-color: #fff;
    color: #1A1A1A;
}

@media (max-width:768px) {
    .btn_tab{
        gap: 3vw;
    }
    .btn_tab span{
        text-transform: uppercase;
        font-size: 4vw;
        color: white;
        font-weight: 300;
        letter-spacing: .05vw;
        display: block;
    }
    .btn_tab_bottom{
        bottom: 32.5vw;
        gap: 3vw;
    }
    .circle{
        width: 3.1vw;
        height: 3.1vw;
    }

    .line_dekstop{
        display: block;
        width: 150vw;
        height: 150vw;
        position: absolute;
        top: 36%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .line{
        z-index:1;
        display: none;
    }
    .banner{
        width: 100%;
        height: 170vw;
        background-image: url(../../../public/images/bg_banner.png);
        background-position: bottom center;
        background-size: cover;
        position: relative;
        transition: .3s all;
    }
    .heading_banner{
        width: 100%;
        top: 40%;
    }
    .heading_banner span{
        font-size: 3.8vw;
        letter-spacing: .3vw;
    }
    .heading_banner h1{
        font-size: 8vw;
        width: 100%;
        letter-spacing: .08vw;
        margin-top: 1.8vw;
    }
    .section_2{
        
        padding: 70vw 5vw;
        padding-top: 14vw;
        background-position: bottom center;
        background-size: cover;
        background-image: url(../../../public/images/bg_home_2-mobile.png);
    }
    .section_2_content{
        padding-right: 0;
        text-align: start;
    }
    .section_2_content h1{
        font-size: 7vw;
        letter-spacing: .07vw;
        margin-bottom: 1.5vw;
    }
    .section_2_content p{
        font-size: 3vw;
        letter-spacing: .16vw;
        padding-right: 1vw;
        line-height: 1.4;
    }

    .branch_section{
        width: 100%;
        background-position: center;
        background-size: cover;
        padding: 2.5vw 4.3vw;
        padding-right: 4.3vw;
        height: 105vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .branch_section_page{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 9vw 4.3vw;
        padding-right: 4.3vw;
        background-color: #1A1A1A;
    }
    .branch_section_2{
        padding-right: 4.3vw;
        padding-left: 4.3vw;
        flex-direction: column-reverse;
    }
    .branch_heading{
        font-size: 4.5vw;
        padding: 1.8vw 3.7vw;
        letter-spacing: .05vw;
        display: block;
        margin: auto;
        margin-bottom: 4vw;
    }
    .branch_detail_layout{
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 2.3vw;
        text-align: center;
    }
    .branch_detail_layout_2{
        display: flex;
        flex-direction: column-reverse;
        grid-template-columns: 100%;
        grid-gap: 2.3vw;
        text-align: center;
    }
    .branch_detail_layout p{
        font-size: 3vw;
        letter-spacing: .09vw;
        line-height: 1.5;
        text-align: center;
    }
    .branch_detail_layout_2 p{
        font-size: 3vw;
        letter-spacing: .09vw;
        line-height: 1.5;
    }
    .branch_layout_right{
        text-align: center;
    }
    .branch_phone{
        text-align: center;
    }
    .branch_detail_layout_2 .branch_time{
        margin-right: 0;
    }
    .branch_time span{
        font-size: 3vw;
        letter-spacing: .09vw;
        margin-bottom: .8vw;
    }
    .branch_phone p{
        font-size: 3vw;
        letter-spacing: .09vw;
        margin-top: 3vw;
    }
    .branch_button{
        display: flex;
        gap: 3vw;
        flex-direction: column;
        width: 100%;
        margin-top: 5vw;
    }
    .branch_button button{
        font-size: 3vw;
        padding: 1.8vw 4vw;
        border: .1vw solid white;
        width: 100%;
    }
    .button_layout{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1A1A1A;
        padding: 10.3vw 0;
    }
    .button_layout button{
        font-size: 3vw;
        padding: 1.8vw 4vw;
        border: .1vw solid white;
    }

    .contact_container{
        padding: 14vw 5vw;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    .heading_contact{
        font-size: 7vw;
        letter-spacing: .09vw;
        margin-bottom: 1.5vw;
        color: white;
    }
    .contact_layout p{
        font-size: 3vw;
        letter-spacing: .14vw;
        padding-right: 0;
        line-height: 1.5;
        margin-bottom: 6vw;
    }
    .contact_button{
        display: flex;
        flex-direction: column;
        gap: 4.5vw;
        justify-content: center;
        padding-left: 0;
        margin-top: 6vw;
    }
    .banner_social_media{
        display: flex;
        align-items: center;
        gap: 3vw;
        justify-content: center;
    }
    .banner_social_media_box svg{
        color: white;
        font-size: 5vw;
    }
    .contact_button button{
        font-size: 3vw;
        padding: 2vw 4vw;
        border: .1vw solid white;
        letter-spacing: .14vw !important;
    }
    .banner_bottom_content_active{
        position: absolute;
        bottom: -24vw;
        left: 0;
        width: 100%;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.2vw 5vw;
    }
    .banner_bottom_content_active .banner_branch{
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }
    .dropdown button {
        font-size: 3vw;
        padding: 1.8vw 4vw;
        letter-spacing: .16vw !important;
        gap: 1.3vw;
    }
    .dropdown button svg{
        font-size: 3.6vw;
    }
    .dropdown_menu {
        margin-bottom: 2.4vw;
    }
    .dropdown_menu_bottom{
        margin-top: 2.4vw;
      }
    .dropdown {
        margin-bottom: 4vw;
    }
    .dropdown_menu button{
        margin-top: 2.8vw;
    }
    .branch_list{
        gap: 3vw;
        margin-bottom: 6vw;
        display: none;
    }
    .branch_list a{
        letter-spacing: .14vw !important;
        font-size: 3vw;
    }
    .branch_list_active{
        display: flex;
    }
    .btn_tab_left{
        flex-direction: row;
        top: 31.6vw;
        left: -1vw;
    }
    .btn_tab_right{
        flex-direction: row-reverse;
        right: -1vw;
        top: 31.6vw;
    }
}